

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc
@model  PagedList.IPagedList<giadinhthoxinh.Models.tblProduct>

@*<div class="main_slider">

    </div>*@

<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>Kết quả tìm kiếm</h2>
                </div>
            </div>
        </div>

       

        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                    @foreach (var item in Model)
                    {
        <div class="product-item men">
            <div class="product discount product_filter">
                <div class="product_image">
                    <a href="/home/productdetail?id=@item.PK_iProductID"><img src="@Url.Content(item.sImage)" /></a>
                </div>
                @*<div class="favorite"></div>*@
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
                <div class="product_info">
                    <h6 class="product_name"><a href="single.html">@item.sDescribe</a></h6>
                    <div class="product_price">@item.fPrice<span>$590.00</span></div>
                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">thêm vào giỏ hàng</a></div>
        </div>}
                </div>
            </div>
        </div>
    </div>
</div>

@*Phân trang*@

<div class="mt-4" style="text-align: center;">
    @Html.PagedListPager(Model, page => Url.Action("Search", new { page = page }))
</div>

