
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Không đủ quyền truy cập</title>
</head>
<body>
    <h1>Bạn không đủ thẩm quyền!!!</h1>
    <h2>Mời bạn đăng nhập để tiếp tục</h2>
    <button "><a href="/user/login">Đăng nhập</a></button>
</body>
</html>
