
@{
    ViewBag.Title = "TKLoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header p-2">
</section>

<section class="content ml-2 mr-2">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title text-lg text-danger">Thống kê số lượng sản phẩm theo loại</h1>


        </div>

        <div class="card-body table-responsive text-nowrap">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Mã loại
                        </th>
                        <th>
                            Tên loại
                        </th>
                       
                        <th>
                            Số lượng sản phẩm
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.MyList)
                    {
                        <tr>
                            <td>
                                @item.ID
                            </td>
                            <td>
                                @item.Name
                            </td>
                           
                            <td>
                                @item.Quantity
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>
</section>


